*{
    margin: 0;
    padding: 0;
}

#texto{
    text-align: justify;
}
#texto2{
    text-align: center;
}
.btn .btn-warning{
    margin: 12px;
    
}
.letra{
    text-align: center;
}
.titulo{
    color: coral;
    text-align: left;
}

#imagenes{
    display: inline-block;
    padding: 20px;
    margin: 20px;
}
#complementos{
   display: inline-block;
    padding: 20px;
    margin: 20px; 
}
.texto{
    text-align: justify;
    font-size: 20px;
    padding: 30px;
}